.cupones {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cupon img {
  width: 250px;
  margin-bottom: 28px;
}

.cupon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
