<div class="content pedidos-container">
  <div class="loading" *ngIf="!hamburguesa">
    <img id="loading" src="assets/img/loading.gif" alt="loading" />
  </div>

  <div *ngIf="hamburguesa">
    <div ngClass="flex-detalle">
      <h3>{{ hamburguesa?.nombre }}</h3>
      <p>
        $ {{ hamburguesa?.precio }}
        <img
          class="img-detalle"
          src="assets/img/{{ hamburguesa?.imagen }}.png"
          alt="{{ hamburguesa?.imagen }}"
        />
      </p>

      <p>{{ hamburguesa?.descripcion }}</p>
    </div>
  </div>

  <div class="flex-item">
    <button class="contador" (click)="decrementar()">-</button>
    <div class="cantidad" id="item">1</div>
    <button class="contador" (click)="incrementar()">+</button>
  </div>

  <div class="personalizarHamburguesa" style="padding-top: 10%">
    <div>
      <a [routerLink]="['/', 'personalizar-combo', hamburguesa?.id]">
        <div class="boton-seccion">
          <img
            src="assets/img/icono-hamburguesa.png"
            alt="pedidos"
            width="15%"
          />
          <h4 class="titulo" class="btnPedidos" (click)="guardarLocalStorage()">
            Personalizar Combo
          </h4>
          <span class="flecha derecha"></span>
        </div>
      </a>
    </div>
  </div>
</div>
