<div class="footer mobile">

  <div class="opciones-footer">
      <div class="opcion footer-home">
        <img src="assets/img/logo.png" id="footer-home" class="footer-logo" alt="home">
        <a [routerLink]="['/home']">Home</a>
      </div>
      <div class="opcion footer-pedidos" [routerLink]="['/']">
        <img src="assets/img/logo-pedidos.png" id="logo-pedidos" class="footer-logo disabled" alt="pedidos">
        <a  class="disabled">Pedidos</a>
      </div>
      <div class="opcion footer-ofertas" [routerLink]="['/']">
        <img src="assets/img/logo-ofertas.png" id="logo-ofertas" class="footer-logo disabled" alt="ofertas">
        <a  class="disabled">Ofertas</a>
      </div>
      <div class="opcion footer-mis-cupones" [routerLink]="['/']">
        <img src="assets/img/logo-mis-cupones.png" id="logo-mis-cupones" class="footer-logo disabled" alt="mis-cupones">
        <a  class="disabled">Mis Cupones</a>
      </div>
      <div class="opcion footer-mas" [routerLink]="['/']">
        <img src="assets/img/logo-mas.png" id="logo-mas" class="footer-logo disabled" alt="mas">
        <a  class="disabled">Más</a>
      </div>
  </div>

</div>


