<div class="footer mobile">

  <div class="opciones-footer">
      <div class="opcion footer-home" [routerLink]="['/home']" routerLinkActive="is-active">
        <img src="assets/img/logo.png" id="footer-home"  ngClass="footer-logo" alt="home">
        <a >Home</a>
      </div>
      <div class="opcion footer-pedidos" [routerLink]="['/pedidos']" routerLinkActive="is-active">
        <img src="assets/img/logo-pedidos.png" id="logo-pedidos" ngClass="footer-logo" alt="pedidos">
        <a  class="disabled">Pedidos</a>
      </div>
      <div class="opcion footer-ofertas" [routerLink]="['/ofertas']" routerLinkActive="is-active">
        <img src="assets/img/logo-ofertas.png" id="logo-ofertas" ngClass="footer-logo" alt="ofertas">
        <a  class="disabled">Ofertas</a>
      </div>
      <div class="opcion footer-mis-cupones" [routerLink]="['/mis-cupones']" routerLinkActive="is-active">
        <img src="assets/img/logo-mis-cupones.png" id="logo-mis-cupones" ngClass="footer-logo" alt="mis-cupones">
        <a  class="disabled">Mis Cupones</a>
      </div>
      <div class="opcion footer-mas" [routerLink]="['/carrito']" routerLinkActive="is-active">
        <img src="assets/img/carrito-icono.png" id="logo-carrito" ngClass="footer-logo" alt="mas">
        <a  class="disabled">Carrito</a>
      </div>
  </div>

</div>


