<!-- <div class="loading" *ngIf="!detalleHamburguesa.length">
  <img id="loading" src="assets/img/loading.gif" alt="loading" />
</div> -->

<div class="content pedidos-container">
  <h4 class="titulo" style="margin-bottom: 14%">Ingredientes</h4>

  <div *ngFor="let i of hamburguesa?.ingredientes">
    <div class="flex-ingredientes">
      <div class="imagen-ingrediente">
        <img
          src="assets/img/Ingredientes/{{ i.nombre }}.png"
          alt="{{ i.nombre }}"
        />
      </div>

      <div class="nombre-ingrediente">
        <div style="font-size: small">{{ i?.nombre }}</div>
        <div style="font-size: small">${{ i.precio }}</div>
      </div>

      <div class="cantidad-ingrediente">
        <div *ngIf="!i.aderezo" class="flex-item">
          <button
            class="contador"
            (click)="decrementarIngrediente(i.precio, i.cantidad, i?.nombre)"
          >
            -
          </button>
          <div class="cantidad" id="{{ i.nombre }}">{{ i.cantidad }}</div>
          <button
            class="contador"
            (click)="incrementarIngrediente(i.nombre, i.precio, i.cantidad)"
          >
            +
          </button>
        </div>
        <div *ngIf="i.aderezo">
          <input type="checkbox" id="{{ i.nombre }}" checked />
        </div>
      </div>
    </div>
  </div>

  <button
    class="confirmar-pedido"
    (click)="guardarLocalStorage()"
    [routerLink]="['/', 'home']"
  >
    Confirmar
  </button>
</div>
