.content {
  padding-top: 1rem;
}

.flex-ingredientes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.imagen-ingrediente img {
  width: 30%;
}

.imagen-ingrediente {
  display: flex;
  width: 50%;
  margin-right: -50%;
}

.confirmar-pedido {
  width: 100%;
  background-color: #ffc72c;
  border: none;
}
