/* vista pc */
@media (min-width: 440px) {
  .contenedor {
    height: 400px !important;
    width: 340px !important;
    overflow: auto;
  }
  .media,
  .media .media {
    margin-top: 0;
  }
}
.text-right {
  text-align: right;
}
.thumbnail {
  transition: none;
}
/* .row {
  height: 100% !important;
  width: 340px !important;

}
table,
.table,
.table-hover,
body {
  width: 340px !important;
} */
