
/* estilos para que siempre simule ser un celular */
.mobile{
  width: 330px;

}
.caja{
  margin: 0px auto;
  margin-top: 5%;
  height: 100%;
  /* padding-top: 50px; */
}
.header{
  width: 100%;
  background-color: #fff;
  /* background-color: aqua; */
  margin: 0;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 999;
}
#logo{
  width: 50px;
  margin: 0px auto;
  margin-top: 10px;
  /* z-index: 999; */
}


.footer{
  width: 100%;
  background-color: #fff;
  /* background-color: aqua; */
  margin: 0;
  height: 60px;
  position: sticky;
  bottom: 0;
  z-index: 999;
  padding-left: 5px;
  padding-right: 5px;
  /* margin-top: 4px; */
  padding-top: 10px;
}
.opcion{
  margin-left: 15px;
}
.opciones-footer{
  display: flex;
  cursor: pointer;
}
.opciones-footer a{
  text-decoration: none;
  color: #6f6f6f;
  font-family: arial,helvetica,sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  display: block;
  font-size: 12px;
  /* text-align:center; */

}
.opciones-footer a:hover{
  color: #6f6f6f;
}
.opciones-footer a.disabled{
  color: #b8b8b8;
}

.opciones-footer img.disabled{
  filter: invert(83%) sepia(4%) saturate(3%) hue-rotate(349deg) brightness(86%) contrast(102%);

}

.footer-home{
  /* display: block; */
  text-align:center;

}
/* .footer-mis-cupones{
  margin: 0px auto;
} */
.footer-logo{
  width: 40px;
}
#logo-mis-cupones{
  margin-left:15px;
}
#logo-ofertas{
  width: 30px;
}
.footer-mas a {
  margin-left:8px;
}

/* .disabled{
  filter: invert(46%) sepia(8%) saturate(10%) hue-rotate(346deg) brightness(91%) contrast(87%);
} */

.footer-logo .disabled{

}
.home{

  width: 50%;
  margin: auto;
}
.home h1{
  text-align: center;
}

/* si el dispositivo es mas ancho, aumenta el width */
@media (max-width: 330px) {
.mobile{
  width: 330px;}
  .footer-mas a{
    margin-left: 7px;
  }
  .opcion{
    margin-left: 15px;
  }

  #logo-mas{
    margin-right:10px;
  }
}


@media (max-width: 370px) {
  .mobile{
    width: 370px;
  }
  .opcion{
    margin-left: 15px;
  }
  #logo-mis-cupones{
    margin-left:15px;
  }
  #logo-mas{
    margin-right:10px;
  }
}

@media (max-width: 400px) {
  .mobile{
    width: 400px;
  }
  .opcion{
    margin-left: 20px;
  }
}

 @media (max-width: 450px) {
  .mobile{
    width: 450px;
  }
  .opcion{
    margin-left: 20px;
  }
}

@media (max-width: 500px) {
  .mobile{
    width: 500px;
  }

  .opciones-footer{
    width: 100%;
  }
}



