
/* estilos para que siempre simule ser un celular */
.mobile{
  width: 330px;

}
.caja{
  margin: 0px auto;
  margin-top: 5%;
  height: 100%;
  /* padding-top: 50px; */
}
.header{
  width: 100%;
  background-color: #fff;
  /* background-color: aqua; */
  margin: 0;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 999;
}
#logo{
  width: 50px;
  margin: 0px auto;
  margin-top: 10px;
  /* z-index: 999; */
}


.footer{
  width: 100%;
  background-color: #fff;
  /* background-color: aqua; */
  margin: 0;
  height: 60px;
  position: sticky;
  bottom: 0;
  z-index: 999;
  padding-left: 5px;
  padding-right: 5px;
  /* margin-top: 4px; */
  padding-top: 10px;
}
.opcion{
  margin-left: 15px;
}
.opciones-footer{
  display: flex;
  cursor: pointer;
}
.opciones-footer a{
  text-decoration: none;
  color: #6f6f6f;
  font-family: arial,helvetica,sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  display: block;
  font-size: 12px;
  /* text-align:center; */

}
.opciones-footer a:hover{
  color: #6f6f6f;
}
.opciones-footer a.disabled{
  color: #b8b8b8;
}

.opciones-footer img{
  filter: invert(83%) sepia(4%) saturate(3%) hue-rotate(349deg) brightness(86%) contrast(102%);

}
.opciones-footer img:active{
  /* transform: scale(1.2); */
}

.is-active img{
  filter: none;
}

.footer-home{
  /* display: block; */
  text-align:center;

}
/* .footer-mis-cupones{
  margin: 0px auto;
} */
.footer-logo{
  width: 40px;
}
#logo-mis-cupones{
  margin-left:15px;
}
#logo-ofertas{
  width: 30px;
}
.footer-mas a {
  margin-left:8px;
}


.home{

  width: 50%;
  margin: auto;
}
.home h3{
  text-align: center;
}



.combos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mc-combo{
  text-align: center;
    font-size: 18px;
    width: 100%;
    font-weight: 400;
    color: #292929;
    word-spacing: 1px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.mc-combo img{
  width: 100px;
  margin: 0 auto;
}


.mc-combo p{
  text-align: center;
  font-size: 15px;
}

#loading{
  display: flex;
  /* margin: 0 auto; */
  /* margin-right: 30px; */
  margin-top: 100px;
  width: 150px;
  justify-content: center;
  align-items:center;
}










/* esto viene de bootstrap */
.margin-bottom {
  margin-bottom: 3rem;
}
.shadow-lista {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
/* esto viene de bootstrap */

/* si el dispositivo es mas ancho, aumenta el width */

 @media (max-width: 500px) {

.margin-bottom {
  margin-bottom: 0rem;
}

.mobile{
  width: 100%;

}
.loading{
  height: 100vh;
  background-color: #fff;

}

.content{
  height: 100%;
}
html{
  height:  100%;
}
body{
  height: 100%;
}
.home{
    margin-bottom: 15px;
    /* height: 100%; */
}

.shadow-lista {
  box-shadow: none;
  /* box-shadow: 1  0rem 0rem #000; */
}

}

 @media (min-width: 360px) {

  .opcion{
    margin-left: 20px;
  }

}

@media (min-width: 400px) {

  .opcion{
    margin-left: 25px;
  }

}

@media (min-width: 410px) {

  .mobile{
    width: 340px;
    /* height: 500px; */
  }
  .opcion{
    margin-left: 15px;
  }

  html{
    height: 500px;
  }
  body{
    height: 100%;
  }
  .home{
    height: 400px;
    overflow:hidden;
    overflow-y:scroll;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .content{
    height: 400px;
  }
}





/* coming soon */

@keyframes sway {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.object {
  position: absolute;
  animation: sway 2.4s infinite;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
  left: 0;
  right: 0;
  height: 5%;
  z-index: 999;
  text-transform: uppercase;
}

.object-shape {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  /* background-color: #DA291C; */
   background-color: #FFC72C;
  margin: 0 auto;
  position: relative;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  font-weight: 800;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.object-shape span {
  font-size: 22px;
  color:white;
}

.object-rope {
  height: 100%;
  width: 5px;
  background-color: #DA291C;
  content: "";
  display: block;
  margin-left: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 35vh 20px 20px 20px;
  /* height: 100%; */
}

.under-construction-logo {
  max-width: 300px;
}

.message {
  margin-top: 40px;
}
